.alt-header {
    padding: 0px var(--horizental-space) 28px var(--horizental-space);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-header__column {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-header__column:first-child {
    justify-content: flex-start;
}

.alt-header__column:last-child {
    justify-content: flex-end;
}

.alt-header__column:last-child span {
    padding-left: 20px;
}

.alt-header__title {
    font-size: 30px;
    font-weight: 600;
}

